.pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.images {
  margin: 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 30vh;
  height: auto;
}

.toggle {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.buttons {
  border: 2px solid black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #7b9b37;
  color: #7b9b37;
}

.buttons:hover {
  background: #7b9b37;
  color: #f2f7f7;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  padding: 5px;
}
