/***PHONES***/
@media only screen and (max-width: 767px) {
    /**********GLOBAL********/
    *{
      box-sizing: border-box;
    }
  
    :root {
      --mainColor: #FF940E;
    }
  
    body{
      font: 1em Helvetica, Arial, sans-serif;
      background-color: #F2F7F7;
    }
  
    h2{
      color: var(--mainColor);
      font-family: 'Cabin',sans-serif;
    }
  
    h1{
      font-family: 'Karla', sans-serif;
    }
  
    p{
      font-family: 'Libre Franklin', sans-serif;
    }
  
    .link:link {
      color: #7B9B37;
      text-decoration: none;
    }
  
    /* visited link */
    .link:visited {
      color: var(--mainColor);
    }
  
    /* mouse over link */
    .link:hover {
      color: orange;
    }
    /****CONTAINER****/
    .container{
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    /*******MAIN******/
    main{
      flex: 1;
    }

  }
  
  /***TABLETS***/
  @media only screen and (min-width: 768px) {
    /**********GLOBAL********/
    *{
      box-sizing: border-box;
    }
  
    body{
      font: 1em Helvetica, Arial, sans-serif;
      background-color: #F2F7F7;
    }
  
    h2{
      color: var(--mainColor);
      font-family: 'Cabin',sans-serif;
    }
  
    h1{
      font-family: 'Karla', sans-serif;
    }
  
    p{
      font-family: 'Libre Franklin', sans-serif;
    }
  
    .link:link {
      color: #7B9B37;
      text-decoration: none;
    }
  
    /* visited link */
    .link:visited {
      color: var(--mainColor);
    }
  
    /* mouse over link */
    .link:hover {
      color: orange;
    }
    /****CONTAINER****/
    .container{
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    /*******MAIN******/
    main{
      flex: 1;
    }
  }
  
  
  @media only screen and (min-width: 992px){
  /************GLOBAL************/
  *{
    box-sizing: border-box;
  }
  
  :root {
    --mainColor: #FF940E;
  }
  
  html, body{
    min-height: 100%;
  }
  body{
    padding: 20px;
    font: 1em Helvetica, Arial, sans-serif;
    background-color: #F2F7F7;
    /* background-image: linear-gradient(#fff8f1, #ffd3a2); */
  
  }
  
  h2{
    color: var(--mainColor);
    font-family: 'Cabin', sans-serif;
  }
  
  h1{
    margin-right: 20px;
    font-family: 'Karla', sans-serif;
  
  }
  p{
    font-family: 'Libre Franklin', sans-serif;
  }
  
  .link:link {
    color: var(--mainColor);
    text-decoration: none;
  }
  
  /* visited link */
  .link:visited {
    color: var(--mainColor);
  }
  
  /* mouse over link */
  .link:hover {
    color: orange;
  }
  
  /*********CONTAINER******/
  .container{
    max-width: 40%;
    min-height: 92vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .content {
    flex-grow: 1;
  }
  
  /*******MAIN******/
  main{
    flex: 1;
  }
  
  }